<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="order">Order</a></li>
  <li><a routerLink="web-component">MFE Web Component</a></li>
  <li><a routerLink="web-component2">MFE Web 2 Component</a></li>
  <li><a routerLink="angular1">Angular external web</a></li>
  <li><a routerLink="react-component-first">React Web Component First</a></li>
  <li><a routerLink="react-component-second">React Web Component Second</a></li>
</ul>
<!-- <mft-wc-wrapper [options]="item" [props]="props" [events]="events"></mft-wc-wrapper> -->

<div class="container">
  <router-outlet></router-outlet>
</div>
